:root {
  --turquoise: rgba(174, 217, 220, 1);
  --dark-turquoise: rgba(101, 172, 177, 1);
  --red: rgba(218, 83, 59, 1);
  --dark-red: rgba(158, 69, 53, 1);
  --beige: rgba(255, 252, 245, 1);
  --blue: rgba(25, 66, 108, 1);
  --dark-blue: rgba(19, 54, 89, 1);

  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1)
}
